cmake-build-debug/
CMakeLists.txt
.idea/
.vs/
bin/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
/Debug
/test/lineCrossTest/Debug
/x64/Debug
/test/lineCrossTest/x64/Debug
/test/lineCrossTest/Release
