cmake-build-debug/
CMakeLists.txt
.idea/
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
/Debug
/test/lineCrossTest/Debug
/x64/Debug
/test/lineCrossTest/x64/Debug
/test/lineCrossTest/Release
/bin/lineCross.tlog
/bin/*.obj
/bin/*.xml
/bin/*.sarif
/bin/*.pdb
/bin/*.tlog
/bin/*.log
/bin/lineCross.exe.lastcodeanalysissucceeded
*.txt
/dllProject/Debug
/IntersectTest/Debug
